{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{less,css,html}": ["stylelint --fix"],
    "*.{yml,json,md}": ["prettier --write --loglevel warn"],
    "*.vue": ["eslint --fix", "stylelint --fix"]
}
