{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write --loglevel warn"],
    "*.{less,css,html}": ["stylelint --fix", "prettier --write --loglevel warn"],
    "*.{yml,json,md}": ["prettier --write --loglevel warn"],
    "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write --loglevel warn"]
}
