{
    "trailingComma": "none",
    "proseWrap": "never",
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
