html {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
}

.text * {
    top: calc(1em + 2em);
}

.foo {
    position: relative;
    inset: 0;
    z-index: 10;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5em;
    background-color: #fff;
    border: none;
}

.bar {
    /* Positioning */
    position: absolute;
    top: -10px;
    left: -10px;

    /* Display & Box Model */
    display: inline-block;
    width: auto;
    height: auto;

    /* Typography */
    font-size: 0.8em;

    /* Background & Effects */
    background-color: #f00;
}
